{% extends 'layout.html' %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<h1 style="text-align: center;">Login</h1>
<form>
    <div class="form-group">
        <label>Email Address</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button><br>
    Not a member? <a href="{{url_for('signup')}}">Sign up now.</a>
</form>

{% endblock body %}